@keyframes scaleIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Default light theme */
body.theme-light {
   
    background-color: #f5f5f5;
    color: #333;
}

body.theme-light .bg-light-gray {
    background-color: #f5f5f5;
}

body.theme-light .bg-dark-gray {
    background-color: #333;
}

body.theme-light .text-dark-gray {
    color: #333;
}

body.theme-light .text-light-gray {
    color: #f5f5f5;
}

body.theme-light .text-primary {
    color: #1e90ff;
}

body.theme-light .bg-primary {
    background-color: #1e90ff;
}

body.theme-light .hover-primary:hover {
    background-color: #1a78d1;
}

body.theme-light .border-gray-300 {
    border-color: #d1d5db;
}

/* Dark theme */
body.theme-dark {
    background-color: #333;
    color: #f5f5f5;
}

body.theme-dark .bg-light-gray {
    background-color: #222; /* Darker shade of gray for dark mode */
}

body.theme-dark .bg-dark-gray {
    background-color: #111; /* Even darker shade for deep contrast */
}

body.theme-dark .text-dark-gray {
    color: #f5f5f5;
}

body.theme-dark .text-light-gray {
    color: #ccc; /* Light gray for text in dark mode */
}

body.theme-dark .text-primary {
    color: #1e90ff;
}

body.theme-dark .bg-primary {
    background-color: #1e90ff;
}

body.theme-dark .hover-primary:hover {
    background-color: #1a78d1;
}

body.theme-dark .border-gray-300 {
    border-color: #555; /* Darker border color for dark mode */
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Animation for expanding search container */
@keyframes expandSearch {
    0% {
        width: 0;
    }
    100% {
        width: 8rem; /* Adjust width as needed */
    }
}

/* Animation for sliding in input box */
@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Apply animation to search container */
#search-container.animate-search {
    animation: expandSearch 0.5s forwards ease-out;
}

/* Apply animation to input box */
#input-box.slide-in {
    animation: slideIn 0.3s forwards ease-in-out;
}
